body {
  font-family: Arial, sans-serif;
  padding: 5px 10px;
}

.header {
  background: #008888;
  text-align: center;
  padding: 5px 10px;
  color:  white;
}

h2 {
  text-align: center;
  color: #008888;
}

.column {
  float: left;
  width: 33.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  padding: 5px 10%;
}

.courses {
  text-align: center;
}

img {
  float:right;
  width: 300px;
  height: 100%;
  display: block;
  padding: 10px 10px;
}

.container {
	position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 300px;
  opacity: 0;
  transition: .5s ease;
  background-color: #008888;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-family: Arial, sans-serif;
}
